     <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-cog"></i>
                </button>
                <a href="/" class="navbar-brand navbar-brand-img">
                    <img src="/i/logo.png" alt="SelimVas">
                </a>
            </div> <!-- /.navbar-header -->
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav noticebar navbar-left">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="">Resources</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-profile" dropdown>
                        <a class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle href="#">
                            <!--<img src="./img/avatars/avatar-1-xs.jpg" class="navbar-profile-avatar" alt="">-->
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Аккаунт
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" dropdown-menu>
                            <!--<li>-->
                            <!--<a href="/user/me">-->
                            <!--<i class="fa fa-user"></i>-->
                            <!--&nbsp;&nbsp;My Profile-->
                            <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a href="/user/pricing">
                                    <i class="fa fa-dollar"></i>
                                    &nbsp;&nbsp;Билинг
                                </a>
                            </li>

                            <li>
                                <a href="/user/setting">
                                    <i class="fa fa-cogs"></i>
                                    &nbsp;&nbsp;Настройки
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/user/logout">
                                    <i class="fa fa-sign-out"></i>
                                    &nbsp;&nbsp;Выйти
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div> <!-- /.container -->
    </header>
